@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.table-gray {
    @apply w-full h-10 font-bold border-collapse;
}

.table-gray thead tr {
    @apply w-full h-10 bg-gray-400 font-bold sticky top-0;
}

.table-gray tbody tr {
    @apply w-full h-10 border border-black font-semibold bg-gray-100;
}

.table-gray tbody tr:nth-child(odd) {
    @apply bg-white;
}

.table-gray tbody tr:nth-child(even) {
    @apply bg-gray-100;
}

.table-gray th {
    @apply border-black border-x py-3;
} 

.table-gray td {
    @apply border-black border-x py-2.5;
}

.tr-focus {
    @apply bg-green-200 font-bold !important;
}

.tr-hover {
    @apply hover:bg-green-400 cursor-pointer !important;
}