@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.table-gray {
    @apply w-full h-10 bg-gray-300 font-bold border border-black;
}

.table-tr-thead-gray {
    @apply w-full h-10 bg-gray-300 font-bold border-l border-t border-b border-black;
}

.table-tr-tbody-gray{
    @apply w-full h-10 bg-gray-200 font-bold border-l border-t border-b border-black;
}

.table-th-gray {
    @apply border-r border-black;
}

.table-td-gray {
    @apply border-r border-b border-black;
}